@page
@model BusManagementSystem.Pages.Guest.FAQModel
@{
    Layout = "_Layout"; // This layout now includes the header and navigation bar
    ViewData["Title"] = "Bus Ticket Registration - Member";
}

    <div class="text-center">
        <h5>Nothing here yet it's appear that the devs are working on this page!</h5>
    </div>
