@page
@model BusManagementSystem.Pages.ViewBus.EditModel


<h4>Bus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bus.BusId" />
            <div class="form-group">
                <label asp-for="Bus.BusNumber" class="control-label"></label>
                <input asp-for="Bus.BusNumber" class="form-control" />
                <span asp-validation-for="Bus.BusNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bus.DriverId" class="control-label"></label>
                <select asp-for="Bus.DriverId" class="form-control" asp-items="ViewBag.DriverId"></select>
                <span asp-validation-for="Bus.DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bus.AssignedRouteId" class="control-label"></label>
                <select asp-for="Bus.AssignedRouteId" class="form-control" asp-items="@(ViewData["AssignedRouteId"] as IEnumerable<SelectListItem>)"></select>
                <span asp-validation-for="Bus.AssignedRouteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bus.Status" class="control-label"></label>
                <select asp-for="Bus.Status" class="form-control">
                    <option value="0">Inactive</option>
                    <option value="1">Active</option>
                    <option value="2">Maintenance</option>
                </select>
                <span asp-validation-for="Bus.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

